*-Ex.R
*.knit.md
*.utf8.md
*_cache/
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.RData
.RDataTmp
.Rapp.history
.Renviron
.Rhistory
.Rproj.user
.Rproj.user/
.Ruserdata
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.com.apple.timemachine.donotpresent
.fseventsd
.httr-oauth
/*.Rcheck/
/*.tar.gz
/cache/
Icon
Network Trash Folder
README.html
Temporary Items
app.html
docs/
po/*~
rsconnect/
vignettes/*.html
vignettes/*.pdf
